<div style="">
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    style="display: flex; justify-content: center;"
    [(ngModel)]="selectedResourceType"
    (ngModelChange)="onResetBoard()"
    (change)="onResourceSelected()"
  >
    <mat-radio-button
      class="example-radio-button"
      *ngFor="let type of resourceTypes"
      [value]="type"
    >
      <ng-container [ngSwitch]="type">
        <span *ngSwitchCase="'people'" i18n="resource">People</span>
        <span *ngSwitchCase="'starships'" i18n="resource">Starships</span>
      </ng-container>
    </mat-radio-button>
  </mat-radio-group>
</div>
