<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>C&P Star Wars Battles</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">Game Menu</button>
    <mat-menu #menu="matMenu">
      <button (click)="onLoadData()" mat-menu-item>Load data</button>
      <button (click)="onRemoveLocalData()" mat-menu-item>Remove local data</button>
    </mat-menu>
  </mat-toolbar>
</p>
