<mat-card *ngIf="opponent" [class.winner]="isWinner">
  <mat-card-header>
    <div
      mat-card-avatar
      class="card-header-image"
      [ngClass]="opponentType"
    ></div>
    <div class="header-content">
      <mat-card-title>{{ opponent.name }}</mat-card-title>

      <mat-card-subtitle>
        <ng-container [ngSwitch]="opponent.label">
          <span *ngSwitchCase="'mass'" i18n>Mass</span>
          <span *ngSwitchCase="'crew'" i18n>Crew</span>
        </ng-container>
        {{ opponent.value }}
        <ng-container [ngSwitch]="opponent.label">
          <span *ngSwitchCase="'mass'" i18n="unit qualifier">kg</span>
          <span *ngSwitchCase="'crew'" i18n="unit qualifier">people</span>
        </ng-container>
      </mat-card-subtitle>
    </div>
  </mat-card-header>
</mat-card>
