<app-topbar></app-topbar>

<div>
  <label id="example-radio-group-label">Pick a unit type</label>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="selectedUnitType"
  >
    <mat-radio-button
      class="example-radio-button"
      *ngFor="let unitType of unitTypes"
      [value]="unitType"
    >
      {{ unitType }}
    </mat-radio-button>
  </mat-radio-group>
</div>

<div>
  <app-person [unitType]="selectedUnitType" [unitId]="1"></app-person>
  <app-person [unitType]="selectedUnitType" [unitId]="2"></app-person>
</div>

<div>
  <button mat-raised-button color="primary">Select Units</button>
  <button mat-raised-button color="warn">Fight!</button>
</div>
