
// card
//.example-card {
//  max-width: 400px;
//}
//
//.example-header-image {
//  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//  background-size: cover;
//}

// radio
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
