.battle-card {
  max-width: 400px;
}

.card-header-image {
  background-size: cover;

  &.starships {
    background-image: url('https://i.pinimg.com/originals/73/38/36/733836a6bd58f9b4fcdd46acd54f233d.png');
  }

  &.people {
    background-image: url('https://swgoh.gg/static/img/assets/tex.relic_rfl_phasma.png');
  }
}
