<div *ngIf="opponent; else noData">
  <mat-card class="battle-card">
    <mat-card-header>
      <div
        mat-card-avatar
        class="card-header-image"
        [ngClass]="opponentType"
      ></div>
      <mat-card-title>Name: {{ opponent.name }}</mat-card-title>

      <mat-card-subtitle *ngIf="opponentType === 'starships'">
        Crew: {{ opponent.crew }}
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="opponentType === 'people'">
        Weight: {{ opponent.mass }}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>

<ng-template #noData>NO DATA</ng-template>
