<mat-card class="game-board__container">
  <div>
    <app-resources-menu
      (resetBoard)="resetBoard()"
      (resourceSelected)="selectedOpponentType = $event"
      [selectedResourceType]="selectedOpponentType"
    ></app-resources-menu>

    <app-game-score [score1]="score1" [score2]="score2"></app-game-score>

    <!-- cards -->
    <div class="card-group">
      <app-opponent-card
        *ngFor="let opponent of opponents; let i = index;"
        [opponent]="opponent"
        [opponentType]="selectedOpponentType"
        [isWinner]="isBattleSettled && winner === i"
        class="card"
      ></app-opponent-card>
      <p *ngIf="isBattleSettled && winner === -1" class="undecided">Undecided</p>
    </div>
  </div>

  <app-game-menu
    [opponentsLoaded]="opponents.length > 0"
    [isBattleSettled]="isBattleSettled"
    (drawOpponentsCards)="drawTwoOpponentsOfType()"
    (fight)="fight()"
    style="display: flex; justify-content: flex-end"
  ></app-game-menu>
</mat-card>
