.game-board__container {
  width: 600px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:400px;
}

.mat-card {
  margin-bottom: 1.5rem;
}

.undecided {
  color: #f86f00;
  text-transform: uppercase;
  font-weight: bold;
}
